html {
  font-size: 24px;
  color: black;
}

body {
    font-family: "Lato", sans-serif;
}

.main {
    margin-left: 160px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}
 
 /* header css */
header{
	border-bottom: 5px solid #267ED5;
}
#nav{
	position: fixed;
	width: 100%;
	height: 10%;
	background: #4C9EF0;
}
#nav img{
    width: 100px;
    height: 50px;
    margin-left: 20px;
}

 /* side nav css */
.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 10%;
    left: 0;    
    overflow-x: hidden;
    padding-top: 20px;
    background: #4C9EF0 ;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 17px;
    color: black;
    display: block;
}

.sidenav a:hover {
    background: rgb(16, 108, 200);
    color: white;
}


 /* cards css */
.section {
    position: relative;
    display: inline-block;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 20%;
    height: 30%;
    margin-left : 50px;
    margin-top : 50px;
    float: left;
    padding: 10px;

}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.edit_note_icon {
    padding-top: 7px;   
    padding-right: 30px;
    position: absolute;
    right: 0;
    top: 0;
    float:left;
}
.delete_note_icon {
    padding-top: 7px;   
    padding-right: 7px;
    position: absolute;
    right: 0;
    top: 0;
}

 /* edit modal css */
input.error , textarea.error{
    border-color:#F10202;
    box-shadow: none;
    
}
#modal_title{
    font-size: 22px;
}
